sudo: false
language: python
python:
- '2.7'
before_install:
- sed -i "s/0.0.1/${TRAVIS_TAG:-0.0.1}/" setup.py
install:
- travis_retry pip install pep8
before_script: pep8 --max-line-length=120
script: python setup.py test --addopts '-vv'
deploy:
  provider: pypi
  user: bgaifullin
  password:
    secure: i5GE6OmD46PYoE9nK0LEELVeHyFZbFfkwMthYErNjOy80ClX4fWRAcMLgjBt/AmDJKAIZyONCWSZduBCzNm0GimyDTM4gowxCR76QXYfwKAOF99fsF8MRM9k+QqJkDdGYUmLpiEvEHgMHxUN8hl+uZkuG72aMAAfcbuyt8PCmAaHjZ/k7olk6Of6QJwiIIBXDIb/hpmuS0tgqvVw5srUWPYNiev8mAz3gq0sbQCF5RtCjCqM8jQ0BiqzNBrTgBv75wLUimRTY1bYX4gGB1sXVO9nMlHsJJN7yk475o5CzPWtuinNWGzjX66topfO5yAvVC5vywtkRsbe2Y1/cpXQzFC6lnenddflvBXYB7mNvPxaPBFi4s/3m182ro75IRMaQTDdrfX1UxHk+DYx0+7Sg4kvHUOjtFUVcQB8N9cTYkgJK3744+38vSgNjbO6fbDAxswt3aOynI31OmawUy38gu7lVnefi++j0cXEdS4QXgX07EGwSh5qI5nR14mU/E012CG02y9fNnzkNtI2fEJye5fYAG9VzTyRyIloOYsa1hXRn2gX+FZdg7pMCxDWa0FAMt2UtCvA8pnE07ZIxgXIVJBMA/FuBv0zJafCyNm/UoCksxbgAeQsIKhHK5eHZFhMd1jL/iBxhJ/zRCta2zzinAcamiDQdlKzIwDrggMJry0=
  on:
    tags: true
    distributions: sdist bdist_wheel
    python: '2.7'
